[submodule "external-libs/json"]
	path = external-libs/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "external-libs/cryptopp"]
	path = external-libs/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "external-libs/someretical-o2"]
	path = external-libs/someretical-o2
	url = https://github.com/someretical/o2.git
