[Desktop Entry]
Type=Application
Name=Theoretical Diary
Comment=Digital diary
Exec=theoreticaldiary
Icon=theoreticaldiary
Categories=Office;
StartupWMClass=theoreticaldiary
Version=1.0