CalendarButton {
  color: #000000;
  background-color: rgba(0, 151, 167, 1);
  border: 2px solid transparent;
}

CalendarButton:pressed {
  color: #000000;
  background-color: rgba(0, 151, 167, 0.7);
  border: 2px solid transparent;
}
