CalendarButton {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(:/themes/global/star_black.svg);
}

CalendarButton:pressed {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(:/themes/global/star_black.svg);
}
