QPlainTextEdit#entry_edit {
  background-color: #232629;
  border: 2px solid #4dd0e1;
  border-radius: 4px;
  padding: 8px;
  height: 18px;
}

QLabel#alert_text {
  color: #FF0000;
}

QPushButton#next_month, QPushButton#prev_month {
  text-align: center;
}
