CalendarButton {
  color: #f5f5f5;
  background-color: rgba(25, 118, 210, 1);
  border: 2px solid transparent;
}

CalendarButton:pressed {
  color: #f5f5f5;
  background-color: rgba(25, 118, 210, 0.7);
  border: 2px solid transparent;
}
