QPushButton#yes_button {
  border-color: #dc3545;
  color: #dc3545;
}

QPushButton#yes_button:checked,
QPushButton#yes_button:pressed {
  color: #31363b;
  background-color: #dc3545;
}

QPushButton#yes_button:flat:hover {
    background-color: rgba(220, 53, 69, 0.2);
}
  
QPushButton#yes_button:flat:pressed,
QPushButton#yes_button:flat:checked {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
}