QFrame#buttons {
  background-color: #232629;
  border-radius: 4px;
  padding: 15px;
  line-height: 13px;
  text-transform: uppercase;
}

QFrame#info {
  background-color: #232629;
  border-radius: 4px;
  padding: 15px;
  line-height: 13px;
}
